<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/success.css"/>

    <meta name="theme-color" content="#563d7c">

    <style>
        .resultLink::after {
            content: attr(href);
        }
    </style>

    <title>Relink: Home</title>
</head>

<body class="d-flex flex-column">

    <div class="resultDiv container text-center" th:object="${shortURLData}">
        <h2>URL successfully shortened!</h2>
        <h3 class="font-weight-normal">Your shortened link is:</h3>
        <h1>
            <a
                class="resultLink" target="_blank" rel="noopener"
                th:href="@{${#request.getRequestURL()} + 'to/' + ${shortURLData.name}}">
            </a>
        </h1>
    </div>

    <div class="container m-auto text-center">
        <h4><a href="/" class="text-secondary">Back to Home</a></h4>
    </div>

    <!-- BootStrap Dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>


</html>
